* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background-color: #11111b;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-notification,
#cpu,
#disk,
#net-info,
#network-info,
#tray,
#memory {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
}

#cpu {
  color: #94e2d5;
}

#disk {
  color: #eba0ac;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #74c7ec;
}

#window {
  color: #cdd6f4;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#net-info, #network-info {
  color: #89b4fa;
}
